.courses-librarys {
    background: #EEF2F4;
    border-radius: 10px;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.courses-librarys .card-footer button {
    font-family: "SF UI Display";
    width: 100%;
    border: none;
    height: 100%;
    background-color: transparent;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
}
.courses-librarys .card-footer {
    background: #11B0C6;
    border: none;
}
.courses-librarys .card-body {
    padding-left: 30px !important;
    padding-top: 40px;
    padding-bottom: 40px;
}
.courses-librarys .card {
    margin-bottom: 30px;
}
.courses-librarys p.card-text-price a {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight:900;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.courses-librarys p.card-text {
    margin-bottom: 10px;
}
.courses-librarys .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    object-fit: cover;
    height: 300px;
}