.course-header {
    background: #FFFFFF;
    border: 1px solid #AA9E9E;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.course-header h1{
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #585454;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    cursor: pointer;
}
.course-header h2{
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #585454;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    cursor: pointer;
    
}
.course-header h3{
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #585454;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
    cursor: pointer;
}
.course-header h4{
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #585454;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:right;
    cursor: pointer;
}

.courses-librarys .card-footer {
    background: #11B0C6;
    border: none;
}
.courses-librarys .card-body {
    padding-left: 30px !important;
    padding-top: 40px;
    padding-bottom: 40px;
}
.courses-librarys .card {
    margin-bottom: 30px;
}
.courses-librarys p.card-text-price a {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight:900;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}
.courses-librarys p.card-text {
    margin-bottom: 10px;
}
.courses-librarys .card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    object-fit: cover;
    height: 300px;
}
.courses-nextpages {
    width: 100%;
    display: flex;
    justify-content: center;
}
.courses-nextpages img.img-rotate {
    transform: rotate(180deg);
}
.courses-nextpages a.page-link {
    background-color: #e7ecef;
    color: #000;
}
a.page-link.clr-chng {
    background-color: #dee5e9;
    line-height: 20px;
}
.srarch-filtercollapse h1 {
    font-size: 19px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    border-bottom: 1px solid;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "SF UI Display";
}
.srarch-filtercollapse {
    background: #11B0C6;
    border-radius: 6px;
    width: 200px;
    position: absolute;
}
.srarch-filtercollapse {
    background: #11B0C6;
    border-radius: 6px;
    width: 15.0em;
    position: absolute;
    left: 33px;
    z-index: 10;
    top: 38px;
    border-top-right-radius: 0px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.dropdown-rel {
    position: relative;
}

.banner-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.filter-views {
    background: #EEF2F4;
    border-radius: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    position: relative;
}
button.btn.filter-search {
    margin-left: 0px;
    border-radius: 0px;
    background: #11B0C6;
}
button.btn.filter-search img {
    width: 60%;
    margin-top: -1px;
}
button.btn.filter-search {
    position: absolute;
    right: 22%;
    top:0%;
}
.filter-views form.form-inline {
    padding-left: 35px;
}
.filter-views input.form-control {
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.view-filter span {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
       color: #000000;
       margin-right: 10px;
}
.view-filter {
    display: flex;
    padding-top: 12px;
}
.select-filter h1 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-right: 10px;
    margin-top: 10px;
}
select.form-select {
    width: 20%;
    padding: 2px;
    background: #FFFFFF;
    border-radius: 6px;
    border: 0px;
    position: relative;
}
.select-filter {
    display: flex;
    padding-top: 0px;
    align-items: baseline;
    margin-top: 2px;
}
.select-filter img {
    position: absolute;
    left: 133px;
    top: 45%;
}
.items-view span:first-child {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight:600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.items-view span:last-child {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight:600;
    font-size: 16px;
    line-height: 19px;
    color: #11B0C6;
}
.items-view {
    padding-top: 12px;
    padding-left: 64px;
}
.courses-librarys {
    background: #EEF2F4;
    border-radius: 10px;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.courses-librarys .card-footer button {
    font-family: "SF UI Display";
    width: 100%;
    border: none;
    height: 100%;
    background-color: transparent;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
}