*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
@font-face {
    font-family:"SF UI Display";
    src: url(../fonts/sf-ui-display-thin-58646e9b26e8b.otf);
  }
  body{
    background: #E5E5E5;
  }

  /* header css */
    .header{
        background: #11B0C6;
    }
    .header .search{
        background: #88d7e2;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 4px;
    margin-left: -10px;
    }
    .header input.form-control {
        border-left: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    min-width: 260px;
    }
    .avatar img {
        width: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left:30px;
        margin-top: 10px;
    }
    .avatar h1 {
       font-family:"SF UI Display";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        margin-top: 3px;
    }
    button.browse {
       font-family:"SF UI Display";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #11B0C6;
        padding: 8px;
        background: #FFFFFF;
        border-radius: 6px;
        border: none;
        margin-left: 50px;
        padding-left: 25px;
        padding-right: 25px;
        cursor: pointer;
    }
    button.browse img {
        margin-left: 10px;
    }
    div#navbarSupportedContent {
        justify-content: flex-end;
    }
    .navbar-light .navbar-toggler {
        color: rgb(255 255 255) !important;
        border-color: rgb(255 255 255) !important;
    }
    .navbar-light .navbar-toggler-icon {
        filter: invert(94%) sepia(97%) saturate(0%) hue-rotate(191deg) brightness(102%) contrast(101%);
    }


/* content css */
.course-header {
    background: #FFFFFF;
    border: 1px solid #AA9E9E;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.course-header h1{
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #585454;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    cursor: pointer;
}
.course-header h2{
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #585454;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    cursor: pointer;
}
.course-header h3{
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #585454;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
    cursor: pointer;
}
.course-header h4{
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #585454;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:right;
    cursor: pointer;
}
.course-color{
    padding-top: 100px;
    padding-bottom: 20px;
    background: #FFFFFF;
}
.course-detail1 h1 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
}
.course-detail1 h2 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
}
.course-detail1 h2 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #787474;
}
.course-detail1 button.btn-1 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #11B0C6;
    background: #FFFFFF;
    border: 1px solid #007DA8;
    box-sizing: border-box;
    border-radius: 18px;
    margin-top: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.course-detail1 button.btn-2 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #787474;
    background: #11B0C6;
    border: none;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.course-detail1 h3{
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #787474;
    margin-top: 20px;
}
.course-detail2 img {
    width: 312px;
    height: 184px;
    object-fit: cover;
    padding-left: 30px;
}
.course-detail3 {
    background: #FAFAFA;
    width: 70%;
}
.course-detail3 h1 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #11B0C6;
    text-align: left;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 30px;
    
}
.course-detail3 h2 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #6B6969;
    text-align:left;
    cursor:pointer;
    padding-bottom: 20px;
    padding-left: 30px;
}
.row.course-deatailpart {
    padding-top: 30px;
}
.course-detail4 h1 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: #3C3C3C;
    padding-top: 30px;
}
.course-detail4 h2 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #595858;
    padding-top: 20px;
}
.course-buy{
    background: #FFFFFF;
    border-radius: 6px;
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 20px;
    padding-top: 0px;
}
.course-buy h1 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
    padding-top: 20px;
}
.course-buy h1 span{
    margin-left: 20px;
}
.course-buy h3 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #11B0C6;
    margin-left: 30px;
}
.course-buy h3 span{
    margin-left: 20px;
}
.flex-coursebuy{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
.course-buybox {
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 25px;
}
.course-buybox h2 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: bolder;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
span.buybox-1 {
    color: #9f9f9f;
}
span.buybox-2 {
    color: #11B0C6;
}
.buyboxlower {
    margin-left: -26px;
    border: 1px solid black;
    margin-right: -26px;
    margin-top: 35px;
    margin-bottom: -26px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.buyboxlower button {
    background: #FFFFFF;
    border: 1px solid #08C8AF;
    box-sizing: border-box;
    border-radius: 6px;
   font-family:"SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #11B0C6;
    padding: 7px;
}
.buyboxlower span {
    margin-left: 10px;
    padding: 4px;
    background: #FFFFFF;
    border: 1px solid #08C8AF;
    box-sizing: border-box;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {  

    /* header css */
   div#navbarSupportedContent {
    justify-content: flex-start;
    }
    .header input.form-control {
        max-width: 80%;
    }
    .header .search {
    margin-left: 0px;}
    button.browse {
        margin-left:0px;
    }
    .avatar {
        align-items: flex-start;
        margin-left: 0px;
    }
    .avatar img {
        width: 25px;
        margin-left: 25px;
        margin-right: auto;
    }

    /* content css */
    .course-color {
        padding-top: 40px;
    }
    .course-detail2 img {
        width: 100%;
        height: 184px;
        object-fit: cover;
        padding-left: 0px;
        margin-bottom: 26px;
    }
    .course-detail3 {
        background: #FAFAFA;
        width: 100%;
    }
    .course-header h3 {
        text-align: left;
    }
    .course-header h4 {
        text-align: left;
    }
  }