#login-modal .login-img1 {
    width: 100%;
}
div#login-modal .modal-body {
    padding: 0px;
}
#login-modal .modal-body button.close {
    position: absolute;
    right: 10px;
    color: #989090;
    top: 5px;
}
#login-modal .modal-content {
    border-radius: 15px;
}
#login-modal .login-content {
    padding: 50px;
    padding-bottom:70px;
    padding-top: 70px;
}
#login-modal .login-content .login-content-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login-modal .login-content .login-content-img img {
    width: 20%;
    margin-left: -25px;
}
#login-modal .login-content .login-content-img h2 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #B4B0B0;
    text-align: center;
    margin-top: 5px;
}
.login-content-form h1 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 41px;
    text-align: center;
    color: #0B7B6D;
    text-shadow: 0px 8px 6px rgb(255 255 255 / 25%);
    margin-top: 25px;
    margin-bottom: 30px;
}
.login-content-form input {
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 100px;
    padding: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 25px;
}
.login-content-form p a {
    font-family: SF UI Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #0F0E0E;
    text-align: right;
}
.login-content-form p {
    text-align: right;
    margin-right: 24px;
}
.login-content-buttons button {
    background: linear-gradient(
253.58deg
, #00E0FF 1.55%, #3DE8FF 95.8%);
    box-shadow: 0px 12px 35px rgb(160 121 0 / 20%);
    border-radius: 100px;
    width: 90%;
    padding: 17px;
    border: 0px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: block;
}