.course-header {
    background: #FFFFFF;
    border: 1px solid #AA9E9E;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}
.course-header h1{
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #585454;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    cursor: pointer;
}
.course-header h2{
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #585454;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    cursor: pointer;
    
}
.course-header h3{
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #585454;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:center;
    cursor: pointer;
}
.course-header h4{
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    color: #585454;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align:right;
    cursor: pointer;
}
.payment-gateway{
    background: #FFFFFF;
    border: 1px solid #AA9E9E;
    padding-top: 30px;
    margin-bottom: 30px;
}
.payment-gate{
    background: #FFFFFF;
    border: 1px solid #AA9E9E;
    border-bottom: 0px;
}
.payment-gate .review-head h1 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #565151;
    margin-right: 30px;
    cursor: pointer;
}
.payment-gate .review-head{
    display: flex;
    width: 100%;
    padding: 20px;
    padding-left: 0px;
}
.billing-address .billing-head h1 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight:bold;
    font-size: 20px;
    line-height: 24px;
    color: #2D2D2D;
    text-align: left;
    padding-left: 10px;
}
.billing-address .billing-head {
    background: #FBFBFB;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 2px;
}
.billing-addressdata h2 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #2D2D2D;
}
.billing-addressdata {
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #5E5C5C;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.billing-address {
    margin-bottom: 30px;
}
.billing-coupon h2 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #2D2D2D;
}
.billing-coupon input.form-control {
    border: none;
    border-bottom:1px solid #ced4da;
    width: 40%;
}
.billing-coupon form button {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #4DC2E9;
    border-radius: 6px;
    border: none;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.billing-coupon form .form-group {
    display: flex;
}
.order-summary .ordersummaryhead h1 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-left: 20px;
    margin-bottom: 20px;
}
.order-summary {
    background: #FBFBFB;
    border: 1px solid #000000;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 0px;
}
.ordersummaryhead {
    margin-left: -20px;
    margin-right: -20px;
}
.order-summary h2 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c4c4c4;
    padding-left: 20px;
    margin-bottom: 0px;
}
.billing-addressdata input.form-control {
  
    width: 40%;
}
.billing-addressdata span input.form-control {
    border: 0px;
    border-bottom: 1px solid #c4c4c4;
    margin-left: 20px;
}
.btn-float button {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight:600;
    font-size: 16px;
    line-height: 19px;
    color: #11B0C6;
    border: 0px;
    background: transparent;
    float: right;
    cursor:pointer;
}
.btn-float button:last-child {
    margin-right: 30px;
}
.billing-addressdata .form-group span {
    width: 100%;
}
.billing-addressdata .form-group {
    display: flex;
    margin-top: 30px;
}
.complete-orderbnt button {
   font-family:"SF UI Display";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #4DC2E9;
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cancel-orderbtn button {
   font-family:"SF UI Display";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #4DC2E9;
    cursor: pointer;
    width: 100%;
    border: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #4DC2E9;
    box-sizing: border-box;
}
.item-totalmargin{
 border-top: 1px solid #000000;
 margin-left: -20px;
    margin-right: -20px;
}
.billing-addressdata.billing-Pricebox h1 {
   font-family:"SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #6F6B6B;
    margin-bottom: 0px;
}
.billing-addressdata.billing-Pricebox {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    margin-bottom: 0px;
}
.billing-addressdata.virtual-data {
    border-top: 0px;
}
.billing-addressdata.virtual-data h1 img {
    margin-right: 10px;
    margin-top: -3px;
}
.billing-addressdata.virtual-data h1 {
   font-family:"SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: #11B0C6;
    margin-bottom: 20px;
}
.billing-addressdata.virtual-data h6 {
   font-family:"SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: #7D7B7B;
    margin-left: 20px;
}
.billing-addressdata.billing-card button {
    background: #FBFBFB;
    border: 1px solid #000000;
    box-shadow: inset 0px 4px 11px rgb(0 0 0 / 25%);
    width: 100%;
    margin-bottom: 20px;
   font-family:"SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-align: left;
    padding: 11px;
    border-bottom: 4px solid #7b7575;
}
.creditcardbtn {
    background: #ffffff;
    border: 1px solid #000000;
    padding: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
}
.creditcardbtn h1 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    color: #7D7B7B;
}
.creditcardbtn h2 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 13px;
    color: #4e3939;
}
.details-order button.btn.btn-primary {
    width: 15%;
    text-align: center;
    border-bottom: 1px solid;
    background-color: #4dc2e9;
    color: #fff;
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background-color: #4DC2E9;
    border-radius: 6px;
    border: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0px;
    box-shadow: none;
}
.details-order .form-group {
    display: flex;
    flex-direction: column;
}
.details-order .form-group label {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    color: #7D7B7B;
}
.details-order .d-flex input.form-control {
    width: 90%;
    border: 0px;
    border-bottom: 1px solid #ced4da;
}
.details-order .d-flex input.form-control::placeholder {
    font-size: 11px;
    padding-left: 0px;
    color:#ced4da;
}
  .required:after {
    content:" *";
    color: red;
  }