*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
@font-face {
    font-family:"SF UI Display";
    src: url(../fonts/sf-ui-display-thin-58646e9b26e8b.otf);
  }
  body{
    background: #E5E5E5;
  }
.top-header {
    background-color: #dad8d6;
}
.top-header .top-head-links {
    display: flex;
    justify-content: space-around;
}
.top-header p a {
   font-family:"SF UI Display";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #6A768B;
}
.top-header {
    height: 36px;
    padding-top: 5px;
}
.login-link {
    display: flex;
    justify-content: flex-end;
}


/* header css */
.header{
    background: #11B0C6;
}
.header .search{
    background: #88d7e2;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
padding: 4px;
margin-left: -10px;
}
.header input.form-control {
    border-left: 0px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
min-width: 260px;
}
.avatar img {
    width: 25px;
    margin-left: auto;
    margin-right: auto;
}
.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:30px;
    margin-top: 10px;
}
.avatar h1 {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 3px;
}
button.browse {
    font-family: "SF UI Display";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #11B0C6;
    padding: 8px;
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
    margin-left: 50px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}
button.browse img {
    margin-left: 10px;
}
div#navbarSupportedContent {
    justify-content: flex-end;
}